---
CompileFlags:
  Add:
    - '-Wall'
    - '-Wdocumentation'
    - '-Wextra'
  Remove:
    - '-W*'
Diagnostics:
  ClangTidy:
    Add:
      - '*'
    Remove:
      - altera-*
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-non-private-member-variables-in-classes
      - fuchsia-*
      - llvmlibc-*
      - misc-non-private-member-variables-in-classes
      - modernize-use-trailing-return-type
      - readability-magic-numbers
